h1 Welcome to Yapper!

form#chat_login(action='/chat', method='post')
  p
    input#screen_name(type='text', name='screen_name', placeholder='Enter chat screen name')
    input#start_chat(type='submit', name='send', value='Start Yapping')